<HTML>
<head>
<title>CSBlogs RSS Feed</title>
<link rel="stylesheet" href="/css/style.css">
<!-- Global Styles from na.thaniel -->
<link rel="stylesheet" href="https://na.thaniel.uk/css/main.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
<link rel="manifest" href="/images/icons/site.webmanifest">
<link rel="shortcut icon" href="/images/icons/favicon.ico">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="/images/icons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

</head>
<body>
<div class="contentwrap">
<div class="familiar-topbar"></div>
<div class="logomiddle">
<div class="logoblock-text"></div>
    <div class="shout">
      Putting all your CSBlogs into an RSS feed</div>
<br>
<div class="midtext midtext1">
I developed this tool as I was really interested by the blogs I've read on CSBlogs and wanted a way to read them
in my RSS reader.
</div>
<br>
<div class="midtext midtext2">
This application is built on the CSBlogs API, and can be found on <a href="//"><i class="fab fa-github"></i> GitHub here</a>.
</div>
<div class="bottom">

<br><br>
&nbsp; <code>localhost.com/feed.xml</code>

&nbsp;&nbsp;&nbsp;
<a class="inpost-red" href="/feed.xml"> <i class="fas fa-rss"></i> RSS Feed </a>
</div>
</div>
<br><br>
<div class="footer">
  <div class="grid-container">
    <div class="grid-50 mobile-grid-100">
      <div class="footertitleCS">CSBlogs</div>
      <div class="footerurl"><a class="footerurllink" href="//csblogs.com">CSBlogs.com</a></div>
      <div class="footerdesctext">
        A node.js web application serving the Computer Science blogging community. <br>
        Built for and by Computer Scientists to share their blogs with each other and encourage sharing achievements and cool stuff within the community and beyond.
        <br>

      </div>
    </div>
    <div class="grid-50 mobile-grid-100">
      <div class="footertitleCS">Nathaniel</div>
      <div class="footerurl"><a class="footerurllink" href="//na.thaniel.uk">na.thaniel.uk</a></div>
      <div class="footerdesctext">
        I'm an Undergraduate Computer Scientist at the University of Hull, and a user of and blogger on CSBlogs. I'm interested in full-stack software development, you can read more about me on my blog. <br><br>

      </div>
    </div>
  </div>

</div>

</div>
<div>
</body>
</HTML>
